.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6em 1.5em 1.5em;

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__socialmedia {
    display: flex;
    justify-content: space-between;
  }
}

/********************************************/
/*  BAKERY and DRINKS GRID PAGE             */
/********************************************/

.bakery,
.drinks {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/********************************************/
/*              MEDIA QUERIES               */
/********************************************/

@include mediaLg {
  .bakery,
  .drinks {
    grid-template-columns: repeat(3, auto);
  }
}

@include mediaMd {
  .bakery,
  .drinks {
    grid-template-columns: repeat(2, auto);
  }
}

@include mediaSm {
  .header {
    padding-top: 1.5em;
  }

  .bakery,
  .drinks {
    grid-template-columns: repeat(1, auto);
  }
}
