.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__socialmedia {
    display: flex;
    justify-content: space-between;
  }
}

/********************************************/
/*             BAKERY GRID PAGE             */
/********************************************/

.bakery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 20px;
  column-gap: 30px;
  justify-content: center;

  .bakery__row {
    display: flex;
    justify-content: space-between;
  }
}
