.header {
  &__logo {
    color: $logo-color;
    font-family: $logo-font-stack;
    font-size: $logo-size;
    padding-left: 0.5em;
    order: 0;

    &::after {
      content: '... just tasty!';
      display: block;
      font-size: $logo-sub-size;
      font-family: $logo-sub-font-stack;
      text-align: right;
      margin-right: -40px;
      margin-top: -5px;
      letter-spacing: 2px;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link {
    cursor: pointer;
    display: inline-block;
    font-family: $font-stack;
    color: $text-color;
    font-size: $menu-font-size;
    margin-right: 4em;
    letter-spacing: 2px;

    &:nth-last-child(1) {
      margin-right: 4.5em;
    }

    &--active::after {
      content: '';
      display: block;
      width: 100%;
      margin-top: 4px;
      padding: 3px;
      background-color: $menu-slider-color;
    }

    & a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__counter {
    &::after {
      content: attr(data-value);
      color: $text-color;
      font-size: 1.2rem;
      text-align: center;
      margin-right: 3em;
      margin-left: 0.6em;
      font-family: $font-stack;
      font-weight: 600;
    }
  }

  &__cart {
    width: 50px;
  }

  &__hamburger {
    background-color: transparent;
    border: 0;
    color: $text-color;
    cursor: pointer;
    font-size: 2rem;
    display: none;

    &:focus {
      outline: none;
    }
  }
}

/********************************************/
/*              MEDIA QUERIES               */
/********************************************/

@include mediaLg {
  .header {
    &__link {
      font-size: 1rem;
      margin-right: 1em;

      &:nth-last-child(1) {
        margin-right: 2em;
      }
    }

    &__counter {
      &::after {
        font-size: 1rem;
        margin-right: 2em;
        margin-left: 0.6em;
      }
    }

    &__cart {
      width: 45px;
    }
  }
}

@include mediaMd {
  .header {
    &__logo {
      order: 1;
      margin: 0;
      padding: 0;
    }

    &__nav {
      justify-content: space-between;
    }

    &__menu {
      display: none;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em;
      margin-bottom: 0;
      order: 10;
      margin-top: 1em;
    }

    &__menu--show {
      display: flex;
    }

    &__link {
      margin-bottom: 0.5em;
      font-weight: 600;
      font-size: 1.5rem;

      &--active a {
        color: $contact-value-color;
      }

      &--active::after {
        display: none;
      }
    }

    &__counter {
      order: 6;
    }

    &__hamburger {
      display: block;
      order: 0;
    }
  }
}

@include mediaSm {
  .header {
    &__logo {
      font-size: 1.8rem;
      padding: 0;

      &::after {
        margin-right: 0px;
        margin-top: -5px;
        letter-spacing: 2px;
      }

      &::after {
        font-size: 1.2rem;
      }
    }

    &__link {
      font-size: 1.05rem;
    }

    &__hamburger {
      font-size: 1.6rem;
    }

    &__counter {
      &::after {
        font-size: 0.95rem;
        margin-right: 0;
        margin-left: 0em;
      }
    }

    &__cart {
      width: 35px;
    }
  }
}
