.bakery,
.drinks {
  width: 100%;
  padding: 1em;

  &__box {
    background-color: $body-color;
    max-width: 265px;
    border-radius: 17px;
    padding-bottom: 1em;
    font-family: $font-stack;
    color: $text-color;
  }

  &__img {
    max-width: 265px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
  }

  &__name {
    text-align: center;
    padding: 0 1em;
    padding-top: 0.1em;
    font-weight: bold;
    font-size: 1.2em;
  }

  &__description {
    padding: 0 1em;
    margin-bottom: 0em;
    font-size: 0.9rem;
  }

  &__row {
    padding: 0 2em;
  }

  &__price {
    font-size: 2rem;
    font-weight: 600;
  }

  &__cart {
    font-size: 2rem;
    color: rgb(228, 228, 85);
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
