@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$background-color: #3d0b00;
$body-color: #73473d;
$text-color: #fff;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$logo-color: #eeeeee;
$logo-size: 2.8rem;
$logo-sub-size: 1.7rem;
$logo-font-stack: 'Carter One', cursive;
$logo-sub-font-stack: 'Satisfy', cursive;

$menu-slider-color: #70421f;
$menu-font-size: 1.05rem;

$contact-font-stack: 'Bree Serif', serif;
$contact-field-color: #ececec;
$contact-value-color: #8f8f33;

$footer-color: #886767;
$footer-message-size: 1.2rem;
$social-media-size: 2.5rem;
